
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
 background: url(https://web4000.github.io/landing-page/images/blockchain-background-2.png) no-repeat;

    background-position: center;
    height: 70vh;
}

.banner .content h3{
    font-size: 40px;
    color:#fff;
    text-transform: uppercase;
	    text-align: center;
}

.banner .content p{
    font-size: 16px;
    color:#fff;
    padding:16px 0;
	    background-image:url(../images/background.jpg) repeat;
		    text-align: center;
}
