
.blog .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog .box-container .box{
    flex:1 1 200px;
    background:#fff;
    border-radius: 5%;
    border:.16px solid rgba(0,0,0,.2);
    box-shadow: 3px 3px rgba(0,0,0,.1);
    margin:16px;
    padding:48px 32px;
    border-radius: 5%;
    text-align: center;
    transition: .2s linear;
}

.blog .box-container .box img{
    height: 150px;
}

.blog .box-container .box h3{
    font-size: 32px;
    color:#06bdbe;
    padding-top: 16px;
}

.blog .box-container .box p{
    font-size: 12px;
    color:#666;
    padding: 16px 0;
}