@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('banner.css');
@import url('menu.css');
@import url('avis.css');
@import url('blog.css');
@import url('prix.css');
@import url('mediaqueries.css');
@import url('footer.css');
html{

    --gradient: linear-gradient(90deg, #06bdbe, #007bd3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
	font-size: 14px;

}



html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#fff;
}

section{
    min-height: 50vh;
    padding:0 9%;
    padding-top: 16px;
    padding-bottom: 32px;
}

.btn{
    display: inline-block;
    margin-top: 16px;
    padding:14px 48px;
    border-radius:5px;
    background:var(--gradient);
    font-size: 16;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 16px rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background:var(--gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:16px;
}
